<% include ./partials/header.ejs %>

<div class="container">
    <h3 id="not-found-message">The requested URL was not found on our server. <a href="/movies">Go to the homepage</a> »</h3>
    <header class="jumbotron">
        <div class="row">
            <div class="col-md-3" id="404-error-message">
                <h1 id="big-404">404</h1>
                <h1>ERROR</h1>
            </div>
            <div class="col-md-9" id="quote">
                <h2>Lord! It's a miracle! Webpage up and vanished like a fart in the wind!</h2>
            </div>
        </div>
    </header>
</div>

<% include ./partials/footer.ejs %>