<h1>Show the Result</h1>

<ul>
    <% data.forEach(function (value) { %>
        <li><strong><%= value["Title"] %></strong> - <%= value["Year"] %></li>
    <% }) %>
</ul>

<a href="/">Search Again!</a>