#index-header {
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.make-room {
    border-color: white;
}

.movie-detail {
    text-align: justify;
    font-size: 1.2em;
}

.movie-basic {
    font-size: 1.3em;
}

.movie-basic .col-md-12 {
    margin-bottom: 0.3em;
}

#genres {
    margin-top: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.row {
    display: flex;
    flex-wrap: wrap;
}