#index-header {
    text-align: center;
}

.thumbnail img {
    width: 100%;
}

.make-room {
    border-color: white;
}

.movie-detail {
    text-align: justify;
    font-size: 1.2em;
}

.movie-basic {
    font-size: 1.3em;
}

.movie-basic .col-md-12 {
    margin-bottom: 0.3em;
}

#genres {
    margin-top: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.delete-form {
    display: inline;
    margin-left: 1%;
}

.comment-text {
    margin-top: 1%;
    margin-bottom: 1%;
}

.fa-star, .fa-star-half {
    color: gold;
}

.comment-rating {
    margin-left: 1%;
}

.image-button {
    border: 0;
    margin: 0;
    padding: 0;
}

button img {
    width: 100%;
}

.movie-year {
    margin-left: 1%;
    text-align: right;
}